<h1>All Animals</h1>
<h2> Add Animal </h2>
<p><%= link_to 'Add Animal', new_animal_path %></p>
<% @animals.each do |animal| %>
  <h2><%= animal.name %></h2>
  <%= link_to 'Show', animal_path(animal.id) %>
  <%= link_to 'Edit', edit_animal_path(animal) %>
  <%= link_to 'Delete', animal_path(animal.id), method: :delete %>
  <% end %>
