<h1>Animals</h1>
<p><%= @animal.name %></p>
<p><%= @animal.age %></p>
<h4><%= @animal.hair_color %></h1>
<p><%= @animal.eye_color %></p>
<p><%= @animal.gender %></p>
<p><%= @animal.alive %></p>

<%= link_to 'Back', animals_path %>


