<h1><%= @animal.name %></h1>
<h4><%= "Age: #{@animal.age}" %></h4>
<h4><%= "Hair Color: #{@animal.hair_color}" %></h4>
<h4><%= "Eye Color: #{@animal.eye_color}" %></h4>
<h4><%= "Gender: #{@animal.gender }"%></h4>
<h4><%= "Alive: #{@animal.alive}" %></h4>
